body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #d4c1ac;
  color: #000;
  transition: background-color 0.4s, color 0.4s;
}

body.dark {
  background-color: #222;
  color: white;
  border: none;
}

button.active {
  border: 2px solid blue;
  border: none;
}

.container {
  width: 90%;
  margin: 20px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-weight: 700;
}

.img{
    width: 739px;
    height: 432px;
    top: 182px;
    left: 702px;
    opacity: 1;
    border-radius: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  margin-right: 25px;
  font-size: 14px;
}

nav button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

#lightBtn {
  background-color: orange;
  color: #000;
}

#darkBtn {
  background-color: #000;
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.text h2 {
  font-weight: 700;
}

.text p {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.orange-btn {
  background-color: orange;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer

}